tensorflow==2.16.1
numpy==1.26.4
pandas==1.4.2
scikit-learn==1.0.2
matplotlib
seaborn
keras==3.3.3
flask
scipy==1.13.0
plotly
xgboost==1.7.5
pyspark==3.5.0
jupyter
pillow==9.0.1
requests
pyyaml==6.0
inflection==0.5.1
joblib
beautifulsoup4
lxml
sqlalchemy
django==4.2.1
psycopg2==2.9.9
pymysql==1.0.2
google-cloud-bigquery==3.24.0
google-cloud-storage
boto3
pyarrow==16.1.0
fpdf==1.7.2
openpyxl
xlrd
xlsxwriter
geopy==2.4.0
yfinance==0.1.75
statsmodels==0.13.2
boruta==0.3